.wrapper {
  padding-left: 45px;
}

.title {
  text-align: left;
}

.sitenames{
  width: 120px;
  float: left;
}

.sitenames h4 {
  text-align: right;
  height: 20px;
  padding: 1px;
  background-color: white;
  margin-top: 35px;
  margin-bottom: 35px;
  margin-right: 15px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}


.chart {
  width: 960;
  float: left;
  border-left: 2px solid;
  border-color: black;
}

.chart div {
  text-align:right;
  height: 20px;
  padding: 1px;
  background-color: #4188D2;
  margin-top: 35px;
  margin-bottom: 35px;
  color: white;
  border-bottom: 4px solid;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border-color: #04376C;
}

.chart div:hover{
  background-color: #35D4A0;
  border-color: #006E4A;
}

