body {
  background-color: #212121;
  color: white;
}

#logo{
  display:block;
  margin-left: auto;
  margin-right:auto;
  width: 480px;
}

#preferences {
  text-align: right;
  font: 16px sans-serif;
  color: white;
  margin-bottom: 15px;
  margin-right: 20px;
}

.navlogo {
  background-color: white;
}

.jumbotron {
  text-align:center;
}

.wrapper {
  padding-left: 45px;
}

.title {
  text-align: left;
}

.sitenames{
  width: 180px;
  float: left;
}

.sitenames h4 {
  font: 14px sans-serif;
  text-align: right;
  height: 24px;
  padding: 1px;
  margin-top: 35px;
  margin-bottom: 35px;
  margin-right: 15px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: white;
}


.chart {
  width: 960;
  float: left;
  border-left: 2px solid;
  border-color: white;
}

.chart div {
  text-align:right;
  height: 24px;
  padding-right: 3px;
  background-color: #4188D2;
  margin-top: 35px;
  margin-bottom: 35px;
  color: white;
  border-bottom: 4px solid;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border-color: #04376C;
}

.chart div:hover{
  background-color: #35D4A0;
  border-color: #006E4A;
}

.spacer {
  height: 50px;
}

